extends ../layouts/main-layout.pug
block styles
    link(rel="stylesheet" type="text/css" href="css/dataTables.bootstrap4.min.css")
block content
    .d-sm-flex.align-items-center.justify-content-between.mb-4
        h1.h3.mb-0.text-gray-800#title 
            a.lang(href="/activity-logs" key="activityTitle") #{title}
    hr
    .container.my-4
        .row
            .col-md-12
                table.table.table-striped.table-bordered.table-inverse#veriler
                    thead.text-center
                        tr
                            th(scope="col") 
                                b|  #
                            th(scope="col")
                                b|  Activity - Logs
                    tbody.text-center
                        -var i=1;
                        each data in result
                            tr
                                th(scope="row") #{i}
                                td #{data}
                                -i++;
block scripts
    script(type="text/javascript" src="js/jquery.dataTables.min.js")
    script(type="text/javascript" src="js/dataTables.bootstrap4.min.js")
    script(type="text/javascript" src="js/dataTables.min.js")