footer.sticky-footer.bg-white
    .container.my-auto
        .copyright.text-center.my-auto(style="color:#3F65D4;")
            span
                b.lang(key="copyright") Copyright &copy; 2019 - SBI Bilişim A.Ş. All Rights Reserved.