head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Admin Dashboard")
    meta(name="author" content="SBI Bilişim A.Ş.")
    title #{title}
    link(rel="shortcut icon" type="image/png" href="img/favicon.png")
    link(rel="stylesheet" type="text/css" href="vendor/bootstrap-4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="vendor/fontawesome-5.8.1/css/fontawesome.min.css")
    link(rel="stylesheet" type="text/css" href="css/font.min.css")
    link(rel="stylesheet" type="text/css" href="css/style.min.css")
    script(type="text/javascript" src="vendor/jquery-3.4.1/js/jquery-3.4.1.min.js")
    script(type="text/javascript" src="js/language.js")
    block styles