script(type="text/javascript" src="vendor/popper-1.15.0/js/popper.min.js")
script(type="text/javascript" src="vendor/bootstrap-4.3.1/js/bootstrap.min.js")
script(type="text/javascript" src="js/script.min.js")
block scripts
