<!DOCTYPE html>
html(lang="en")
    include ../includes/head
    body.bg-gradient-primary
        .wrapper
            .container-fluid(style="margin-top:170px;color:white;")
                .text-center
                    h1(style="font-size:200px;color:white") 404 
                    p.mb-5(style="font-size:30px;color:white") Page Not Found
        include ../includes/script